<div class="registered-info">
	<div ng-if="cred.credentials[0].length > 0">
		First Name: {{ cred.credentials[0] }} <br>
		Last Name: {{ cred.credentials[1] }}<br>
		Email Address: {{ cred.credentials[2] }}<br>
		Phone Number: {{ cred.credentials[3] }}<br>
		Favorite Menu Item: {{ cred.credentials[4].name }}<br>
		Description: {{ cred.credentials[4].description }}<br>
		Image: <img class="item-img" width="250" height="150" 
				ng-src="{{cred.ApiPath}}/images/{{cred.credentials[4].short_name}}.jpg">
	</div>
	
	<div ng-if="!cred.credentials">
		<a id="fuckyou" ui-sref="public.sign">Not Signed Up Yet. Sign up Now!</a>
	</div>
</div>
